$manu-header-back: #ffffff;
$body-back: #eaeaea;
$border-color: #cccccc;

$menu-color: #808080;
$hover-menu: #fafafa;
$view-cart-back: #0b6796;

$header-color: #0b6796;
$block-header-color: #000000;
$main-text-color: #000000;
$main-price-color: #dc5730;
$link-color: #dc5730;
$footer-text-color: #666666;

$top-head-back: #404041;
$top-head-color: #ffffff;

$cross-color: #dc5730;

$input-border-color: #cfcfcf;
