@import 'css-reset';
@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'header';
@import 'main-content';
@import 'footer';


/******************************************/

body {
  font-family: 'AlteHaasGrotesk';
}

#main-container {
  width: 100%;
  background: $body-back;
  float: left;
}

h2 {
  font-size: 2em;
  color: $header-color;
  font-family: 'AlteHaasGrotesk_Bold';
  margin-top: 30px;
  margin-bottom: 15px;
  // float: left;
  clear: both;
}

h4 {
  font-size: 1.125em;
  font-family: 'AlteHaasGrotesk_Bold';
  color: $main-text-color;
  margin-bottom: 20px;
}
